* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
  overflow-x: hidden;
}
.navbar_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar_logo > i {
  font-size: x-large;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar_links > a {
  margin: 0 10px;
}
.plane_image {
  position: relative;
}
.plane_image > .image_inside {
  height: 800px;
  width: 100%;
  background-size: cover;
  border-radius: 50px;
}
.only_plane {
  position: absolute;
  left: 77%;
  top: 20%;
  height: 1000px;
  width: auto;
}
.headings {
  position: absolute;
  left: 15%;
  top: 30%;
}
.headings-button {
  display: flex;
  gap: 20px;
}
.headings-button > button {
  padding: 15px 40px;
  background-color: #007fff;
  color: white;
  font-weight: 500;
  border: 1px solid #007fff;
  border-radius: 30px;
  cursor: pointer;
}
.icon {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-1 {
  font-size: larger;
}
.p-2,
.p-3,
.p-4,
.p-5 {
  font-size: 50px;
  font-weight: 600;
  margin: 10px 0;
}
.know {
  display: flex;
  padding: 0 15px;
  flex-direction: column;
  background-color: white;
  border-top-left-radius: 30px;
  position: absolute;
  left: 75%;
  top: 80%;
}
.know-box-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.know-box-1 > p {
  margin: 10px 0;
  font-size: x-large;
  font-weight: 600;
}
.know-box-2 {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.know-img {
  display: flex;
}
.know-img-2 {
  transform: translateX(-10px);
}
.know-img-3 {
  transform: translateX(-20px);
}
.know-img > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.steps {
  position: absolute;
  left: 5%;
  top: 30%;
  display: flex;
  height: 400px;
  width: 90px;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 80px;
}
.steps > div {
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100%;
  height: 50px;
  width: 50px;
}
.step_1 {
  background-color: white;
  color: black;
}
.step_2,
.step_3 {
  border: 2px solid white;
  color: white;
}
.steps > .step_1::after,
.step_2::after {
  content: "";
  transform: translate(-5px, 69px);
  height: 80px;
  width: 2px;
  background-color: white;
}
.navbar_links > a {
  text-decoration: none;
  text-align: center;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  color: black;
}
.navbar_links > a:hover {
  text-decoration: underline;
}
.book-trip-btn {
  padding: 15px 33px;
  border-radius: 30px;
  background-color: black;
  color: white;
  font-size: larger;
  cursor: pointer;
}
.heading {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading-2 {
  margin-right: 70px;
  border-radius: 40%;
  padding: 20px;
  display: flex;
  gap: 10px;
}
.arrow-1 {
  background-color: #e5e4e2;
  padding: 22px;
  border-radius: 50%;
  cursor: pointer;
}
.arrow-2 {
  background-color: black;
  color: white;
  padding: 22px;
  border-radius: 50%;
  cursor: pointer;
}
.subheading {
  font-size: xx-large;
  margin-left: 20px;
  font-weight: 700;
  margin-top: 80px;
}
.subheading-para {
  font-size: large;
  color: rgb(92, 91, 91);
  margin-left: 20px;
  margin-bottom: 30px;
  margin-bottom: 50px;
}
.destinations {
  display: flex;
  justify-content: space-evenly;
}
.dest-img {
  width: 450px;
  height: 260px;
  border-radius: 20px;
}
.dest-text-head {
  font-size: x-large;
  font-weight: 700;
}
.dest-star {
  height: 35px;
  width: 70px;
  border-radius: 50px;
  background-color: #007fff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.dest-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.location {
  display: flex;
  gap: 10px;
  align-items: center;
}
.dest-loc {
  font-size: medium;
  color: rgb(77, 77, 77);
  font-size: medium;
  margin: 0;
}
.subheader {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subheader-main {
  font-size: xx-large;
  font-weight: 700;
}
.subheader-text {
  font-size: large;
  color: rgb(99, 98, 98);
}
.features {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.fa-umbrella-beach,
.fa-credit-card {
  background-color: white;
  color: #007fff;
  padding: 15px;
  display: inline;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.fa-ticket {
  border: 1.5px solid white;
  color: white;
  padding: 15px;
  display: inline;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.feature-1 {
  height: 300px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: x-large;
  padding: 30px;
  background-color: #e5e4e2;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}
.feature-2 {
  color: white;
  position: relative;
  overflow: hidden;
  height: 150px;
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  font-size: x-large;
  padding: 40px;
  background-color: #318ce7;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.feature-3 {
  height: 300px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: x-large;
  padding: 30px;
  background-color: #e5e4e2;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.circle > img {
  position: absolute;
  top: -70px;
  left: 50%;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.footer {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-img {
  margin-left: 90px;
  height: 450px;
  width: 350px;
  border-radius: 25px;
}
.footer-sec {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-texts {
  transform: translateX(-250px);
  font-size: xx-large;
}
.footer-text1,
.footer-text3,
.footer-text5 {
  font-size: 50px;
  font-weight: 700;
}
.footer-text2,
.footer-text4 {
  font-size: medium;
  font-weight: 300;
  width: 500px;
}
.booking {
  margin: 0 50px 50px 50px;
  display: flex;
  justify-content: space-around;
}
.box-1 {
  background-color: #f1f1f1;
  margin-left: 95px;
  display: flex;
  gap: 40px;
  padding: 0px 30px;
  border-radius: 20px;
  align-items: center;
}
.box-2 {
  background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMSEhUTEhIVFRUXFxcXFxcXGBcXFxcXFxcXFxcXFxcaHSggGB0lHRcXITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OGhAQGi0dHx0tLS0tLS0tLS0tKy0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0rLS0tLTctLTctLS0tLf/AABEIAL4BCgMBIgACEQEDEQH/xAAaAAADAQEBAQAAAAAAAAAAAAACAwQBAAUG/8QAKhAAAwACAQMEAgEEAwAAAAAAAAECAxESEyExBEFRYZHw4XGhsdEUgfH/xAAaAQADAQEBAQAAAAAAAAAAAAABAgMABAUG/8QAHxEAAgIDAQEBAQEAAAAAAAAAAAECEQMSEyExUUFh/9oADAMBAAIRAxEAPwD7KFsysRVOM3ho9rc+XIlj+EDK0y1yJvH3CpABmjax/BqjQ2YM2P8ASGsb32Gxi2P6W/A+MOguYmrJXjBc9j0KwoTeJIVTEnBkfA1plWNDHhC8gixE0QOiB2PCFOH5JuZWOJgpA0ijgJyIVOxpRpE+REvTey7gHOAqp0TUbZAsQNYv3uel0A59ODqWWI8vFi9ynjvyX16Za7CKnuL0stHHSE8dGzI65BmQbGcQoRqRqkaoFbAk2S2KuSyoA4BUiUosiaFVBZlwk1orF2DWidsLYdIGUUMxTF9T7/fyPyL2B4v4CmTZ66xmvGMmBkT8nE5HQoEjk5QWqN9tbCn0nfu9/QOiX0Kwt/CDiHEr3PQc6+ifNG/C/AFksd4nEBzPbbRjte3cxemp+wyfQvfdr/Idor6xdZv4iWqAc7Lq9F38pjsHpFrv3M8sUgLBJumRYsRVjwb8lU4tBcSMstnTHAl9F1BnTHJAXaFTZVxRPUC1iXuObM0VTaOeUUyZ4u46YGKTQuQqxpArGgoxhJDYkRyKxhYhwBXpy2INcC7lVj8PLeJ7NWFnpLEH0hupuR5qx69jKLc6IbQ0XZHItfgq6OTBsGWVo5nL0bS2S5cG+5TFBa2ZNoPjPPr0+zni7FzxhY8AzyA0s8x4tBdFnqzg79w+iv1fyDqDg2apO4FCxm8DlcztWMTM6Dxr3GzjQagRyKqFC34EXj+CqoAqQpglEQgmE5CiQipASh0o5SbL0KykVQcyBkaRjyi7syiaU0ddE10NaTJqnRWMTnySD5guyesuhdZyqgczyorWYyvUaIH6gFZe+h+YnY9XFm2URZ5OOi7DS35JThRfFls9CL2MJMNFCZzuNHdCdoYjaE1lS8s68m/AKG3RP6iiPY/IiWp0dEF4cOV+g0LYdMU2WRyyCVHchbYUsNCplWGirHJJiLMBCZ14vR0wb0zpY1P7/wAkW2daimZQIq86FrIBQZnkVlOzXRL11szrB0YOqLFRhLOVsfLNVDKSaCcgs5sFsNCto1mbMdGbDQmwF0BVBZET1kKJEZyoN5BNWDkv4Ft7KKJzymdk0+zEZYS9xjl/IjPHYqiMvRWRyvczHW+4jJj0YqLa+HM50z0Op8Fnp7PIm2eh6XK3JLJDw6MWT0t6/FhrNsXMry9fkyUc9I61KSGNt92bGVoCgW9GqzbNOyjmKysX1RN5tvRlE0snhlsW5DDmCl0RqxLk0blnsAkawa0HiotxZFoiS7DYekTkrLY5NHo42N2QRn0H/wAlEXFnXHLGjzZz9w6z9iLH/U6snc69UzzOjSKuqxsXsjix0UCUR4TLovQxZkQxYeyTidCyFnWF1kJqrQE2ZQBLKVLMas5NQpjqCZN5Wi2s2yXPQKYNWNGNE5ztGJMbEk8ZNDXkGaYkWhzx9heTCtArKxeVtgSdjSlGheefclcdylw2LeBl4ujmkr/gUJeGWYcakjiBr8CSVjwdfwdmz67ILD6j8nnNP4GYq8GeNUFZXZ6VZgepsSmY2T1LbsGq7hoBmozQqY/GhssnlhqhGiqkD6uW0mgMO15HdQCkn76CvlCtK7QSC5AqDtAGVhOjOYDN4fug0bZklSv+zoRZl9PLA4JeFoKmScGhCgNGsANg+BwPTJ8dIN0ChoyoNoyJ0A8orJm34DRnNFHNeEzKIg1mfuNQm4zLZHkyjWxV49DxpE5WzMNMrxWJxrsPxyaTs0FQ6ZDUGzIZByOlRE1jM4lOgKgymZwJlBzQbO8jKSJ0JcGLGO0bKG2BqAzUhvA3gDYbUTWLYPF+5Ro7QLDqITbDctDDdms1E3I7YeTAn9f0MnAvlsNoX0yMo5ZV8i+CRPmTT7ePc2qYd3EuVI08xeo+wlmDzYOyPSsXQdMBnOpFJCmCw2BQdydAtAVl0FQmpB1BQOTN9DIhvumJqAojtrbD1oGo9Y/loLpkM+m7+R8Xx8A7fo2pTjjuc8XfwHhpfIy69kbskNqJ4h4oOZmOvsDzKgJelakLiLjJ8hbJqaZ0JqggKYLoBiSyCtg20hM5voPJ3EtCPKybG9TbCnIt6J+Wg0grMwl0MNyTYr0UzRZZSqoGoF6H0xFsPUWSO4mUgOr9B8th7ISgGZsNSa4KqaFpijemMUG1QXMyiTZMM+6X4O6c/H+CiUFx+gqZtEAC2aYzhsIFAtB6M0NYoqjEh3EziDZGJ7kFQyrphTjFchlEnU9hbguySkiVyI5D0DjrXYNZNe4GjpkXYNDaybNR2ORqXYWWQKgdFDBcrQe2ycslG1NRjZuwaRPow6iqYNSMuTEHoLqLUBSgpD7BWQ2h3EPF8GJmyOso2o9+BFLZtG6GeUzViHDNh6GNC6kVZhXGjXmS+RvLfgT0tjMOPRVZWBJjNA8B0o3RXsPoI0ZspnC37GP0lfX5Qyym5SfxE7QFB2AzmbJyASNZxgtiHbCkFo1GswxB8RUINMZMogbXsKqB2zHJrDZM4DnGPmQycpUUiJ4DMcBqRiwN60Q3ssofgqsZikuXpPmtjVhn4QaH4N/4eesZtYSxwvgW5NQHjSIcmMVxLckiaxCsjKH4SSxkjFiC4AQqixSQcmuA5QwyR0QM4nSg1ARqF9MJYxs4w5k3wZYxKxBLGUKTVAymU5CVASxjVJiQ+weZjlncDnZnN/X9jbDeHmVQBp2iXdP+nn6Mw7QSk7ibsjaAM1T2GKAaejdUHQEHZlM4HSzampjIoSbyBuzUUcjPIpMOWCU7GRThfsejCS7HmY67ls3tCKVHbgZR2F3XwKdnSw9joGaAcndQ1UHomTkrF3jFVBQ2doa0ybgSvGcoKWgOJiegp4zOA7WjKkGyM4AwhikGQ3QVNDRiY3oKEZMhbA2USoNM7kKqwKyi7B2H8hObJoXXqFr/AMJ7zpivILJlH/IQ1V9I87rLYzrL5f8Ab/QnYVIUcG4MON+EEmcamdowMZtD6ncxVMZoxyWUwOAmjA7kQjbCtBcjnYpsF0OshNofOQdFESobOQ21mRZ1Q16kgpncwNlYzo9BepNWfZDLDTJtlejLpyDVRDFD+YLHUytWc8iRJFs3mOsg7kP65qyom2Zsd5XQiKOpsKbJOZ3UJ9WUpFnI2USKh80FZP0Oo7QLYFWBVjPIZo7LZLdhZqJaYjyE3H02mKtnNg0yewKAyU/JnXf6xuJL30dufsFg1Paciagq0C0CXwprZJSB0VWhLkmmDQXwC4hqTdFUzak2VEuRFeX+SS2MmQyeCWA2GxbYxztnJmpgNnNhQA6ygqyfJZ00MCy+aGzRCmUenrbA0OpFc0NVC14DlE2WRrZyO2dsnIvBhbBdA0wLZtmx6SNdiqoF0ZPk30DZVjooimSY67fgOcjDVBUil0C2BF99B0v9GsYTlomqx2def34Iavz++BfosnQToVdDMa3+/vyG8HfyEX6LxNLv/IW18r8i5n3CRgH/2Q==");
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0px 300px;
  background-color: #d5f7f7;
  border-radius: 20px;
}
.box-1-text-1 {
  font-size: xx-large;
  font-weight: 600;
  color: #007fff;
}
.date {
  display: flex;
  flex-direction: column;
}
.date > p {
  font-size: large;
}
.box-2 > p {
  font-size: x-large;
  font-weight: 500;
}
.socials {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
}
.social-1 {
  display: flex;
  padding: 5px 20px;
  border: 1px solid gray;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.social-1 > i {
  font-size: larger;
}
.social-1 > p {
  font-size: large;
}
.book-img {
  height: 70px;
  width: 200px;
}